<header class="bg-info text-white">
    <div class="container text-center">
        <h1>{{tr.pages.index.welcome_msg_header_bg_info}}</h1>
        <p class="lead">{{tr.pages.index.welcome_msg_header_bg_info}}</p>
    </div>
</header>
<div class="container row" style="margin-top:25px;">
    <div class="col-lg-6 mx-auto">
        <h3>{{tr.pages.index.discord_join_msg}}</h3>
        <iframe src="https://discordapp.com/widget?id=452934738609700886&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
    </div>
    <div class="col-ld-6">
        <a class="btn btn-success" href="/bots/create">Créer un bot</a>
        <a class="btn btn-info" href="/bots/my-bots">Liste de mes bots</a>
    </div>
</div>