<header class="bg-primary text-white">
    <div class="container text-center">
        <h1 class="text-white">{{tr.layouts.landing.header_h1_text}}</h1>
        <p class="lead">{{tr.layouts.landing.header_lead_text}}</p>
    </div>
</header>

<section id="services" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <p class="text-center">
                    Focus this page and press <kbd>CTRL</kbd> + <kbd>V</kbd>. The image in your clipboard will be uploaded !
                </p>
                <div style="border:1px solid grey;"></div>
                <div id="postSetting" class="hidden">
                    <div class="col-md-9 pull-left">
                        <input id="screenTitle" type="text" placeholder="Title" class="input-md">
                        <select id="screenPrivacy" class="input-md">
                            <option value="false">Public</option>
                            {{#if session}}
                                <option value="true">Private</option>
                            {{/if}}
                        </select>
                    </div>
                    <div class="col-md-3 pull-right">
                        <button class="btn btn-md btn-success" onclick="return postUpload();">Upload</button>
                    </div>
                </div>
                <div id="imgPreview" class="text-center"></div>
            </div>
        </div>
    </div>
</section>
<div id="base64" class="hidden"></div>
<script src="/assets/js/pasteurscreen.js"></script>