<header class="bg-primary text-white">
    <div class="container text-center">
        <h1 class="text-white">{{tr.layouts.landing.header_h1_text}}</h1>
        <p class="lead">{{tr.layouts.landing.header_lead_text}}</p>
    </div>
</header>

<section id="services" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <p class="text-center">
                    Focus this page and press <kbd>CTRL</kbd> + <kbd>V</kbd>. The image in your clipboard will be uploaded !
                </p>
                <div style="border:1px solid grey;"></div>
                <div id="imgPreview"></div>
            </div>
        </div>
    </div>
</section>

<script src="/assets/js/pasteurscreen.js"></script>