<div class="col-md-12">
    <h3 class="ut-decorated-h-3"><span>Ce mois-ci</span></h3>
</div>
<div class="container">
    <div class="row no-gutters">
        <div class="col-md-4 col-sm-6">
            <div class="ut-box-2 ut-box-line" align="center">
                <div class="ut-counter-3">
                    <div class="ut-counter-icon text-main-2">
                        <span class="ion-person-stalker"></span>
                    </div>
                    <div class="ut-count">{{data.clients}}</div>
                    <h3 class="ut-counter-title h5">Clients</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="ut-box-2 ut-box-line ut-box-last"  align="center">
                <div class="ut-counter-3">
                    <div class="ut-counter-icon text-main-2">
                        <span class="ion-ios-cart"></span>
                    </div>
                    <div class="ut-count">{{data.commandApprovedMonth}}</div>
                    <h3 class="ut-counter-title h5">Payements acceptés</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="ut-box-2 ut-box-line ut-box-line-top" align="center">
                <div class="ut-counter-3">
                    <div class="ut-counter-icon text-main-2">
                        <span class="ion-ios-close"></span>
                    </div>
                    <div class="ut-count">-</div>
                    <h3 class="ut-counter-title h5">Payements annulés</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="ut-box-2 ut-box-line ut-box-line-top" align="center">
                <div class="ut-counter-3">
                    <div class="ut-counter-icon text-main-2">
                        <span class="ion-ios-star-outline"></span>
                    </div>
                    <div class="ut-count">{{data.cristalsMonth}}</div>
                    <h3 class="ut-counter-title h5">Cristaux distribués</h3>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="ut-box-2 ut-box-line ut-box-last ut-box-line-top" align="center">
                <div class="ut-counter-3">
                    <div class="ut-counter-icon text-main-2">
                        <span class="ion-cash"></span>
                    </div>
                    <div class="ut-count">{{data.receiptMonth}}</div>
                    <h3 class="ut-counter-title h5">EUR de revenus</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <h3 class="ut-decorated-h-3"><span>Objectif</span></h3>
</div>
<div class="container">
    Serveur KS-4C - i5-2300 - 16GB - 1x2To - 1 mois : 27.59e <br>
    Serveur E5-SAT-1-64 - E5-1620 - 64GB - E5-1620 - SoftRaid 2x2To - 62.40 € <br><br>
    Total 89.99e
</div>
<div class="col-md-12">
    <h3 class="ut-decorated-h-3"><span>Total</span></h3>
</div>