<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description"
              content="Paste your screenshots to upload it online for free with a short url for sharing !"/>
        <meta name="author" content="Llyam Garcia"/>

        <!-- meta facebook -->
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="Paste Your Screens | Instant screenshots sharing">
        <meta property="og:description"
              content="Paste your screenshots to upload it online for free with a short url for sharing !"/>

        <title>Paste Your Screens | Instant screenshots sharing</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300i,400,700%7cMarcellus+SC" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/pasteurscreens.css">
        <link rel="stylesheet" href="/assets/css/lux.min.css">
        <link rel="stylesheet" href="/assets/bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/bower_components/ionicons/css/ionicons.min.css">
        <link rel="stylesheet" href="/assets/css/jquery-ui/jquery-ui.min.css">
        <link rel="stylesheet" href="/assets/css/jquery-ui/jquery-ui.structure.min.css">
        <link rel="stylesheet" href="/assets/css/jquery-ui/jquery-ui.theme.min.css">
        <link rel="stylesheet" href="/assets/css//scrolling-nav.css">

        <script src="/assets/bower_components/tether/dist/js/tether.min.js"></script>
        <script src="/assets/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/assets/js/jquery-ui.min.js"></script>
        <script src="/assets/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    </head>

    <body>
        {{> header}}

        <main class="main-content">{{{body}}}</main>

        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Pasteurscreens.tk 2018 - v0.3</p>
            </div>
        </footer>
        {{> scripts }}
    </body>
</html>
