body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

section {
    padding: 70px 0 !important;
}

footer {
    width: 100%;
}

.bg-primary-pus {
    background-color: #1a1a1a !important;
}

.main-content {
    flex: 1;
}

.hidden {
    display: none;
}

#imgPreview {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 15px;
}

#postSetting {
    padding: 15px;
}