body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

section {
    padding: 70px 0 !important;
}

footer {
    width: 100%;
}

.bg-primary-pus {
    background-color: #1a1a1a !important;
}

.main-content {
    flex: 1;
}

.hidden {
    display: none;
}

.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail {
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}
.item.list-group-item .thumbnail {
    margin-bottom: 0px;
    display: inline-block;
}
.item.list-group-item .caption {
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item:after {
    clear: both;
}

.imgFrame {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 10px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    height: 250px;
    overflow: auto;
    white-space: nowrap;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img.gallery-img {
    float:right;
    height:auto;
    vertical-align: middle;
}

#imgPreview {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 15px;
}

#postSetting {
    padding: 15px;
}