body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

section {
    padding: 70px 0 !important;
}

footer {
    width: 100%;
}

.main-content {
    flex: 1;
}